<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/style.css">
</head>

<body>
    <header>
        <div class="header-container">
            <div><a href="http://" target="_blank" rel="noopener noreferrer">logo</a></div>
            <div><h2>app name</h2></div>
            <div class="user-links">
                <div><a href="/">log in</a></div>
                <div><a href="/">cart</a></div>
                <div><a href="/">log out</a></div>
            </div>
        </div>
        <div class="breadcrumbs-container">
            <span>home</span> / <span>first</span> / <span>second</span>
        </div>
    </header>
    <main>main content
        <div class="main-container">
            <div class=""></div>
        </div>
    </main>
    <footer>footer</footer>
</body>

</html>
